
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Dodane centrowanie tekstu */
  }
  
  h2 {
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    width: calc(100% - 16px);
  }
  
  button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Usunięcie domyślnego marginesu dla ul */
  }
  
  li {
    display: flex;
    flex-direction: column; /* Zmiana kierunku flex na kolumnę */
    align-items: center; /* Centrowanie elementów w kolumnie */
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .blue-background {
    background-color: #cce5ff;
  }
  
  .yellow-background {
    background-color: #fff3cd;
  }
  
  .orange-background {
    background-color: #ffc107;
  }
  
  .gray-background {
    background-color: #d6d8db;
  }