.whole{
    background-color: rgb(168, 106, 106);
    margin: 20px;
    background-color: rgb(168, 165, 165);
    width: 60%;
    height: 40%;
    padding: 10px;
    border: 1px solid black;
}
.logo{
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-self: flex-start;
    margin: 3%;
    margin-top: 2%;
    padding: 1%;
    margin-top: -2%;
    padding-right: 10%;
    padding-top: 2%;
    border: 1px solid black;
}
.TOP{
    height: 93%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(99, 95, 95, 0.425);
    border: 1px solid black;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.box{
    height: 80%;
    background-color: white;
    flex-wrap: wrap;
    display: flex;

    margin-bottom: 2%;
}
.strona{
    width: 24%;
    height: 25%;
    flex-grow: 1;
    border: 1px solid black;
}
.normal{
    width: 24%;
    height: 25%;
    flex-grow: 1;
    border: 1px solid black;
}
.lokalizacja{
    background-color: gray;
    width: 24%;
    flex-grow: 1;
    height: 25%;
    border: 1px solid black;
}
.lewa{
    width: 24%;
    flex-grow: 1;
    height: 74%;
    border: 1px solid black;
}
.zawartosc{
    width: 74%;
    height: 74%;
    flex-grow: 1;
    border: 1px solid black;
}