.box{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 30%;
    display: flex;
}
.small{
    margin: 10px;
    width:30%;
    height: 90%;
    background-color: rgba(128, 128, 128, 0.178);
}
.desc{
    width: 40%;
    background-color: blue;
    height: 5%;
    margin: 20px;
    border-radius: 15px;
}

.desc1{
    width: 50%;
    background-color: gray;
    height: 3%;
    margin: 20px;
    border-radius: 15px;
}
.desc2{
    width: 20%;
    background-color: gray;
    height: 3%;
    margin: 20px;
    border-radius: 15px;
    float: right;
    margin-top: -10%;
    margin-left: -10%;
}

